if SHIELD_HOOD_LEFT

config ZMK_KEYBOARD_NAME
    default "HOOD"

config ZMK_SPLIT_ROLE_CENTRAL
    default y 

endif

if SHIELD_HOOD_LEFT || SHIELD_HOOD_RIGHT

    config ZMK_SPLIT
        default y

endif