#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/{
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Echap     |     &     |      é    |     "     |      '    |      (    |
            // |     tab       |     a     |      z    |     e     |      r    |      t    | 
            // |     maxup     |     q     |      s    |     d     |      f    |      g    |
            // |     maj       |     Lctrl |      w    |     x     |      c    |      v    |
            // |               |     win   |      alt  |     Fn    |      alt  |      sp   |
            bindings = <
                &kp ESC         &kp AMPS    &kp AMPS        &kp DQT       &kp SQT   &kp LEFT_PARENTHESIS    &kp MINUS   &kp GRAVE      &kp UNDERSCORE   &kp CARET       &kp SQT   &kp LEFT_PARENTHESIS 
                &kp TAB         &kp A       &kp Z           &kp E         &kp R     &kp T                   &kp Y       &kp U          &kp I            &kp O           &kp SQT   &kp LEFT_PARENTHESIS 
                &kp CAPSLOCK    &kp Q       &kp S           &kp D         &kp F     &kp G                   &kp H       &kp J          &kp K            &kp L           &kp SQT   &kp LEFT_PARENTHESIS 
                &kp CAPS        &kp LCTRL   &kp W           &kp X         &kp C     &kp V                   &kp B       &kp N          &kp COMMA        &kp SEMICOLON   &kp SQT   &kp LEFT_PARENTHESIS 
                &kp CAPS        &kp LWIN    &kp LEFT_ALT    &kp LEFT_ALT  &kp DEL   &kp SPACE               &kp SPACE   &kp RIGHT_ALT  &kp RWIN         &kp RCTRL       &kp SQT   &kp LEFT_PARENTHESIS 
            >;
        };
    };
 };